.LivrosdoadosContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0 10%;
  overflow: auto;
  span {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 5% 0%;
  }
}
.livroscard {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  .cardconteudo {
    width: 55%;
    text-align: center;
  }
  p {
    margin-top: 4%;
    font-style: italic;
  }
  p:nth-child(2) {
    font-weight: bold;
    margin-bottom: 10%;
  }

  img {
    margin-bottom: 5%;
    width: 180px;
    height: 280px;
    margin-top: 10%;
  }

  .categoria {
    color: #005695;
  }
}

.card {
  flex: 1 1 calc(25% - 20px);
  max-width: 25%;
  border: 1px solid #005695;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

// Para Mobile
@media (max-width: 480px) {
  .livroscard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0;
  }

  .card {
    width: 100%;
    max-width: none;
  }
}

// Para Tablets
@media (min-width: 481px) and (max-width: 1024px) {
  .livroscard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
  }

  .card {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
  }
}
